.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 80vmin;
    width: 80vmin;
    border: 1px solid black;
    touch-action: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 0 0 calc(100% / var(--grid-size));
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}
.show-grid {
    /* outline: 1px solid #000; */
    outline: 1px solid rgba(0, 0, 0, 0.25);
    outline-offset: -1px;
}

/* button colors */
.currentColorMode {display: flex; align-items: center; gap: 0.5rem}
#currentColorMode {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    background-color: black;
}
#palette > button {
    width: 3rem;
    height: 3rem;
    /* border: none; */
}
/* foundational colors */
#black { background-color: black; }
#white { background-color: white; }
#gray { background-color: #808080; }
#bisque { background-color: #E0AC69; }

/* primary colors */
#red{ background-color: red; }
#blue { background-color: #0652dd; }
#yellow {background-color: yellow;}

/* secondary colors */
#green { background-color: green; }
#purple {background-color: purple; }
#orange {background-color: orange;}