.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 80vmin;
    width: 80vmin;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 0 0 calc(100% / var(--grid-size));
    aspect-ratio: 1 / 1;
    border: 0.5px solid black;
    box-sizing: border-box;
}